.error {
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 100px;

    .error-image {
        text-align: center;
        flex-basis: 300px;

    }

    .error-text {
        color: black;
        display: inline-block;
        text-align: left;
        margin-bottom: 0;
        flex-basis: 300px;
    }   

        p {
            font-size: 1rem;
            margin-bottom: 0;
        }

    .error-buttons {
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 2em;
        justify-content: flex-start;
        margin-top: 1em;

        button {
            background-color: green;
            width: 25vw;
            font-size: 1rem;
            padding: 1em 0;
            border-style: none;
            border-radius: 50px;
        }
    }
}

@media (max-width: 992px) {
    .error {
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;

        .error-image {
            // display: none;
            text-align: center;
            flex-basis: 10%;
        }

        .error-text {
            color: black;
            display: inline-block;
            text-align: left;
            margin-bottom: 0;
            flex-basis: 20%
        }   

            p {
                font-size: 1rem;
                margin-bottom: 0;
            }

        .error-buttons {
            margin: 0;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            justify-content: flex-start;
            margin-top: 1em;

            button {
                background-color: green;
                width: 30vw;
                font-size: 1rem;
                padding: 1rem 0;
                border-style: none;
                border-radius: 50px;
            }
        }
    }
}