.footer-logo h1 {
    font-family:'Coda', cursive;
    color: rgb(61, 61, 61);
    padding-left: 30px;
}

.footer-container {
    padding: 2% 1.5%;
    background-color: black;
}

.footer-locations {
    margin: auto;
    width: 80%;
    color: rgb(139, 139, 139);
    text-align: center;

    h3 {
        font-family: Oswald, sans-serif;
        font-size: 1.5vw;
    }

    h5 {
        font-size: 1vw;
    }
    p {
        font-size: 1vw;
    }
}