.shop {
    text-align: center;
    margin: auto;
    padding: 0;
}

.shop-title h1 {
    padding: 0 5%;
    text-align: left;
    font-size: 2em;
}

.shop-items {
    margin: auto;
    padding: 0 2%;
}

.shop-title {
    margin: 0;
}